<!DOCTYPE html>
<head>
    <title>Busz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>Útvonalak</h1>
    <form action="directions" method="GET">
        <label>Kezdés: </label>
        <label>Cél: </label>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>