<!DOCTYPE html>
    <head>
        <title>Busz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <h1>Szombathelyi buszjáratok</h1>
        <form action="hours" method="GET">
            <label>Járat: </label>
            <select id="line" name="line">
                {% for i in all_lines %}
                <option value="{{ i.lines }}">{{i.lines}}</option>
                {%endfor%}
                </select>
            <label>Buszmegállók: </label>
            <select id="stop" name="stop">
                {% for i in stops %}
                <option value="{{ i.stops }}">{{i.stops}}</option>
                {%endfor%}
            </select>
            <button type="submit">Submit</button>
        </form>
        <div class="row">
            <div class="col-lg-6">
        <iframe class="embed-responsive" 
        width="600"
        height="600"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}&zoom=15&q={{cord_x}}+{{cord_y}}" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-6">
        <h5>Tanítási napokon (hétfőtől péntekig)</h5>
        <ul>
        {% for i in final_time %}
        <ul>{{ i }}</ul>
    {% endfor %}
    </div>
    </ul>
    </div>
    </div>
    </body>
</html>